html,
body {
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;!important;
}
a{
    color: #fff;
}

.wrap {
    min-height: 100%;
    height: auto;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    background-color: #2ECC40;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
div.stack-line{
    min-height: 50px;
    margin: 0;
    color: #fff;
}
.red{
    background-color: #e01131;
    box-shadow: 0px 2px 10px #302626;
}
.green{
    background-color: #4fb92d;
    box-shadow: 0px 2px 10px #302626;
}
.light-green{
    background-color: #2ECC40/*#4fb92d*/;
}
#slider{
    height: 400px;
}
.bg{
    width:100%;
    height:600px;
    background-position: bottom right;
    background-size:cover;
    background-image: url("../images/slides/mosquitoes.jpg");
    background-repeat: no-repeat;
}
.alpha-white{
    background-color: rgba(255,255,255, 0.7);
}
ul.product-features{
    padding: 5px;
}
.mks1025{
    width: 200px;
    height: 459px;
    position: absolute;
    top: 100px;
}
div#slider{
    margin-top: 51px;
    height: auto;
}
.seper {
    border-top: 1px solid #6ccc42;
    width: 180px;
    display: block;
    margin: 15px auto;
    height: 1px;
}
.headings p {
     font-size: 14px;
     margin-bottom: 35px;
     color: #939393;
 }
.three-products{
    background: #f2f2f2;;
}
.mosquito-features{
    font-size: 1.2em;
}
.bold{
    font-weight: bolder;
}
.product-image{
    width: 75%;
}
.padding-bottom-10{
    padding-bottom: 10px;
}