.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .slide-caption{
        font-size: 1.2px;
    }
    .slide-little{
        font-size: 0.8em;
    }
}
.carousel .item {
    width: 100%; /*slider width*/
    max-height: 717px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
.carousel-control .control-left{
    background: url('../images/slides/prev.png');
    width: 56px;
    height: 56px;
    display: block;
    margin-left: 15px;
}
.carousel-control .control-right{
    background: url('../images/slides/next.png');
    width: 56px;
    height: 56px;
    display: block;
    right: 0px;
    position: absolute;
    margin-right: 15px;
}
.carousel-caption{
    bottom: auto;
    top: 43%;
    border: 5px #fff solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 55%;
    margin: 0 auto;
}
.slide-caption{
    font-size: 3.1em;
}
.slide-little{
    font-size: 2.1em;
}